.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
}

.Chat{
  
  justify-content:space-between;
  
  width: 100vw;
  height: 100vh;
  background-color: rgb(248, 248, 248);
 position: relative;
 
}

.chat-area{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: scroll;
  height:94%;
  
 

  margin-bottom: 15px;
}


.input-section{
  top:93.5%;
  position: absolute;
   width: 96%;
  border: solid;
  margin: 6px;
  border-radius: 7px;
  border-width: 1px;
  max-height: 70px;

}
.input-section input{
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
}

.input-section button{
  width: 17%;
  border: none;
}

.text-message{
  
  width: 100%;
  padding: 10px 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-message.active{
  align-items: flex-end;
}

.text-paragraph{
    background-color: rgb(87, 87, 172);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    max-width: 50%;

}

.text-paragraph.active{
  background-color: rgb(230, 230, 245);
  color: black;
}

/*   LOGIN PAGE CSS */

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

#login::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  opacity: 0.7;
  z-index: -1;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  height: 400px;
  width: 300px;
  background-color: white;
  position: absolute;
}

.login-container button {
  margin-top: 30px;
  padding: 10px 0;
  background-color: rgb(54, 54, 240);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: blue;
}

.login-container p {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
}

.login-container input {
  margin-top: 20px;
  border: none;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  height: 30px;
  outline: none;
}

.login-forgotpassword {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
}
.login-forgotpassword:hover {
  color: blue;
}

.login-error {
  color: red;
  font-size: 14px;
}

.reaptcha {
  background-color: red;
  height: 50px;
  margin-top: 10px;}


