.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
}

.Chat{
  
  justify-content:space-between;
  
  width: 100vw;
  height: 100vh;
  background-color: rgb(248, 248, 248);
 position: relative;
 
}

.chat-area{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: scroll;
  height:94%;
  
 

  margin-bottom: 15px;
}


.input-section{
  top:93.5%;
  position: absolute;
   width: 96%;
  border: solid;
  margin: 6px;
  border-radius: 7px;
  border-width: 1px;
  max-height: 70px;

}
.input-section input{
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
}

.input-section button{
  width: 17%;
  border: none;
}

.text-message{
  
  width: 100%;
  padding: 10px 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-message.active{
  align-items: flex-end;
}

.text-paragraph{
    background-color: rgb(87, 87, 172);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    max-width: 50%;

}

.text-paragraph.active{
  background-color: rgb(230, 230, 245);
  color: black;
}


