.useraccount-body{
    width: 100%;
    display: flex;
    flex-direction: row;

 

   
}


.mygroups-section{
    width:20%

}



.chat-section{
    width:50%
}

.myfriends-section{
    width:20%
}


.search-container{
  position: relative;
  display: inline-block;
}

.search-result-container{
    position: absolute;
    width: 130%;
    height: 300px;
    background-color:rgb(192, 206, 206);
   
}

.search-result-container.active{
    top: -10000%;

}

.chatroom-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.friends{
    display: inline-block;
}